/* font-family: 'Averia Serif Libre', cursive;
font-family: 'Cairo', sans-serif;
font-family: 'PT Serif', serif; */

.App {
  text-align: center;
  align-content: center;
}

.active {
  color: #f00;
}

.about-text {
  background-color: cornflowerblue;
  margin: 10% 2% 2% 2%;
  padding: 15px;
  text-align: justify;
}

.wrapper {
  display: grid;
  grid-auto-columns: 300px;
  gap: 10px;
  grid-auto-rows: 100px;
  margin: 0 30%;
  justify-content: center;
  align-items: center;
}
.AnswerBox1 {
  text-align: center;
  background-color: cornflowerblue;
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12%;
  border: 0.5em solid rgba(94, 228, 199, 0);
  border-radius: 2em;
  font-size: 20px;
  color: white;
  border-color: #e4fbff;
}
.AnswerBox2 {
  text-align: center;
  background-color: cornflowerblue;
  grid-column: 2;
  grid-row: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12%;
  border: 0.5em solid rgba(94, 228, 199, 0);
  border-radius: 2em;
  font-size: 20px;
  color: white;
  border-color: #e4fbff;
}
.AnswerBox3 {
  text-align: center;
  background-color: cornflowerblue;
  grid-column: 1;
  grid-row: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12%;
  border: 0.5em solid rgba(94, 228, 199, 0);
  border-radius: 2em;
  font-size: 20px;
  color: white;
  border-color: #e4fbff;
}
.AnswerBox4 {
  text-align: center;
  background-color: cornflowerblue;
  grid-column: 2/2;
  grid-row: 2/2;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12%;
  border: 0.5em solid rgba(94, 228, 199, 0);
  border-radius: 2em;
  font-size: 20px;
  color: white;
  border-color: #e4fbff;
}
.center {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.Highlight {
  background-color: #2f5d62;
}

.Images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.app-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  font-family: "Averia Serif Libre";
  background-color: #c6a9a3;
  margin: 10% auto 1% auto;
}

.Score-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + 2vmin);
  color: #2f5d62;
  font-family: "Averia Serif Libre";
  background-color: #c6a9a3;
  text-align: center;
}
#sub-title {
  font-size: 2rem;
  margin: 0 auto 5% auto;
}

.Quiz {
  text-align: center;
  background-color: #c6a9a3;
}

.quiz-start {
  padding: 0.5em 1.2em;
  width: 10vw;
  position: static;
  margin: 1% auto;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  color: white;
  background-color: #99bbad;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.Hide-button {
  display: hidden;
}

.quiz-start:hover {
  border-color: rgba(255, 255, 255, 1);
}

.question-text {
  text-align: center;
  font-size: 2rem;
}

p {
  color: #e4fbff;
  font-family: "Cairo", sans-serif;
  font-size: 20px;
}

li {
  display: inline;
  float: right;
}

ul {
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c6a9a3;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.Skip {
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.Show-suggestion {
  font-size: 65px;
  font-family: "Averia Serif Libre", cursive;
  color: #413c69;
  text-align: center;
}

#tv-icon {
  font-size: 6rem;
  margin: 5vh auto 0 auto;
  width: 100vw;
  color: white;
  text-align: center;
}

.nav-link {
  font-size: 1.5 rem;
  color: white;
}

.nav-link:hover {
  background-color: white;
  color: #c6a9a3;
  font-weight: bold;
}

.question-header {
  font-size: 2rem;
  margin-top: 15%;
  text-align: center;
}

.home-link {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 1rem;
  color: #c6a9a3;
  font-weight: bold;
  font-family: "PT Serif", serif;
}

.retake-link {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 1rem;
  color: #c6a9a3;
  font-weight: bold;
  font-family: "PT Serif", serif;
}

@media screen and (min-width: 412px) {
  .navbar-narrow {
    display: none;
  }
}

/* PHONES */
@media screen and (max-width: 411px) {
  .navbar-fixed {
    display: none;
  }
  .center {
    top: 90%;
  }

  .dropdown-item {
    font-family: "PT Serif", serif;
  }

  .dropdown-item:hover {
    background-color: #c6a9a3;
    color: white;
  }

  .home-link {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    color: #c6a9a3;
    font-weight: bold;
    font-family: "PT Serif", serif;
  }

  .app-header {
    margin: 25% auto 1% auto;
  }

  .quiz-start {
    width: 30vw;
  }

  .score-header {
    margin-top: 30%;
    text-align: center;
    font-size: 4rem;
  }

  .wrapper {
    display: inline;
    margin: 1%;
  }
}

.show-desc {
  background-color: white;
  color: #413c69;
  padding: 10px;
  border-radius: 15px;
  margin: 5%;
  line-height: normal;
  border: cornflowerblue 5px solid;
}
